@import '/src/assets/styles/resources';

.memo {
  padding: 32px;
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px $gray;

    > .member {
      font-weight: bold;
    }

    > .icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
      fill: none;
      stroke: $black;
    }
  }

  > .text {
    line-height: 1.5;
    color: $black;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}

@include media-query-sp {
  .memo {
    padding: 12px;
    font-size: 14px;
  }
}

.link-text {
  color: $blue;
}
