@import '/src/assets/styles/resources';

.dialog-content {
  > .header {
    display: flex;

    > .icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      cursor: pointer;
      fill: $black;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > .footer {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: flex-end;

      > .text {
        font-size: 14px;
        color: $gray-400;
      }

      > .delete {
        margin-right: auto;
      }
    }
  }

  &.-disabled::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

@include media-query-sp {
  .dialog-content {
    > .header {
      margin-bottom: 24px;

      > .icon {
        margin-left: 0;
        fill: $black;
        stroke: $black;
      }
    }
  }
}
