@import '/src/assets/styles/resources';

.input-component {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  > .caption {
    font-size: $normal-text;
    font-weight: bold;

    > .required {
      margin-left: 2px;
      color: $red;
    }
  }

  > .input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 36px;
    font-size: $normal-text;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $gray;
    border-radius: 0;
  }
}
