@import '/src/assets/styles/resources';

.sub-panel {
  height: 100%;
  padding: 12px;
  background: $white;
  border-radius: 20px;
  box-shadow:
    6px 6px 15px 0 rgb(204 204 204 / 90%),
    -6px -6px 12px 0 rgb(255 255 255 / 90%),
    6px -6px 12px 0 rgb(204 204 204 / 20%),
    -6px 6px 12px 0 rgb(204 204 204 / 20%),
    -1px -1px 2px 0 rgb(204 204 204 / 50%) inset,
    1px 1px 2px 0 rgb(255 255 255 / 30%) inset;

  > .body {
    height: 100%;

    > .body2 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 100%;
      color: $white;
      background-color: $gray-500;
      border-radius: 12px;

      > .header {
        padding-bottom: 12px;
        border-bottom: solid 1px $gray-400;

        > .title {
          font-size: 24px;
          font-weight: bold;
        }

        > .icon {
          width: 16px;
          height: 16px;
          fill: transparent;
          stroke: $white;
        }
      }
    }
  }
}

@include media-query-sp {
  .sub-panel {
    > .body {
      > .body2 {
        padding: 12px 20px;
        overflow-y: hidden;

        > .header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > .title {
            font-size: 24px;
          }

          > .icon {
            width: 16px;
            height: 16px;
            fill: transparent;
            stroke: $white;
          }
        }

        > .body {
          overflow-y: auto;
        }
      }
    }
  }
}

.overview-table {
  border-spacing: 0 12px;
  border-collapse: separate;

  > .table {
    > .row {
      font-size: 16px;
      line-height: 1.5;

      > .caption {
        width: 100px;
        font-weight: bold;
      }

      > .content {
        > .list {
          display: flex;
          flex-direction: column;
          gap: 8px;
          font-size: 16px;
        }
      }
    }
  }
}
