@import '/src/assets/styles/resources';

.page-layout {
  display: flex;
  flex-direction: column;
}

.header-component {
  display: flex;
  flex-shrink: 0;
  height: $header-height-pc;
  padding: 16px 32px 0;
  background-color: transparent;

  > .logo {
    font-family: Barlow, sans-serif;
    font-size: 36px;
    cursor: pointer;

    > .notice {
      margin-left: 4px;
      font-size: 12px;
    }
  }

  > .menu {
    display: flex;
    gap: 24px;
    margin-left: auto;
    font-size: 16px;
  }
}

@include media-query-sp {
  .header-component {
    height: $header-height-sp;
    padding-left: 24px;

    > .logo {
      font-size: 18px;
    }

    > .menu {
      display: none;
    }
  }
}

.main-component {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0 32px;

  > .content {
    width: $content-width-pc;
    height: auto;
    padding: 8px 0 32px;
  }
}

@include media-query-sp {
  .main-component {
    padding: 12px 12px 0;

    > .content {
      width: 100%;
      padding: 0;
    }
  }
}

.footer-component {
  flex-shrink: 0;
  height: $footer-height-sp;

  > .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    color: gray;
  }
}
