@import '/src/assets/styles/resources';

.page-component {
  display: flex;
  gap: 32px;
  height: 100%;

  > .sub {
    width: 256px;
    height: 100%;
  }

  > .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 912px;

    > .tab {
      width: 100%;
    }

    > .panel {
      width: 100%;
      height: 100%;
    }
  }
}

@include media-query-sp {
  .page-component {
    flex-direction: column;
    gap: 24px;
    width: 100%;

    > .sub {
      width: 100%;
      height: 100px;
    }

    > .main {
      gap: 24px;
      width: 100%;

      > .panel {
        width: 100%;
        height: 540px; // TODO:
      }
    }
  }
}
