@import '/src/assets/styles/resources';

@include media-query-sp {
  .card-component {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);

    > .head {
      display: flex;
      justify-content: space-between;

      > .title {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: bold;
        color: $blue-gray-400;
      }

      > .price {
        font-size: 18px;
        font-weight: bold;
        color: $red;
      }
    }

    > .member {
      display: flex;
      flex-shrink: 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      color: $black;

      > .prefix {
        flex-shrink: 0;
      }
    }
  }
}
