@import '/src/assets/styles/resources';

@include media-query-sp {
  .checkbox-component {
    flex-shrink: 0;

    > .hidden {
      display: none;
    }

    > .hidden + .visible {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 12px;
      font-size: 14px;
      color: $white;
      cursor: pointer;
      background-color: $gray-400;
      border-radius: 20px;
    }

    > .hidden:checked + .visible {
      background-color: $purple-400;
    }

    &:hover {
      opacity: 1;
    }
  }
}
