@import '/src/assets/styles/resources';

.checkbox-component {
  display: flex;
  gap: 24px;
  align-items: center;

  > .text {
    font-size: 16px;
    font-weight: bold;
  }

  > .answer {
    display: flex;
    gap: 8px;
    align-items: center;

    > .check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-color: #fff;
      border: 2px solid $dark-gray;
      border-radius: 6px;
    }

    > .check:active {
      border: 2px solid $gray;
    }
  }
}
