@import '/src/assets/styles/resources';

.panel-component {
  width: 100%;
  height: 100%;
  background: $white;
  border-radius: 20px;
  box-shadow:
    6px 6px 15px 0 rgb(204 204 204 / 90%),
    -6px -6px 12px 0 rgb(255 255 255 / 90%),
    6px -6px 12px 0 rgb(204 204 204 / 20%),
    -6px 6px 12px 0 rgb(204 204 204 / 20%),
    -1px -1px 2px 0 rgb(204 204 204 / 50%) inset,
    1px 1px 2px 0 rgb(255 255 255 / 30%) inset;
}
