@import '/src/assets/styles/resources';

.tab-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  padding: 0 12px;
  background: $white;
  border-radius: 20px;
  box-shadow:
    6px 6px 15px 0 rgb(204 204 204 / 90%),
    -6px -6px 12px 0 rgb(255 255 255 / 90%),
    6px -6px 12px 0 rgb(204 204 204 / 20%),
    -6px 6px 12px 0 rgb(204 204 204 / 20%),
    -1px -1px 2px 0 rgb(204 204 204 / 50%) inset,
    1px 1px 2px 0 rgb(255 255 255 / 30%) inset;

  > .tab {
    position: relative;
    display: flex;
    gap: 48px;
    align-items: center;

    > .item {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      font-size: 16px;
      font-weight: bold;
      color: $black;
      text-align: center;
      cursor: pointer;
    }

    > .item.-selected {
      color: $white;
      transition: all 0.3s ease;
    }

    > .background {
      position: absolute;
      z-index: 0;
      width: 200px;
      height: 40px;
      background: $purple;
      border-radius: 12px;
      box-shadow: -1px 2px 6px 0 rgb(0 0 0 / 20%);
      transition: all 0.3s ease;
    }
  }
}

@include media-query-sp {
  .tab-component {
    height: 48px;

    > .tab {
      gap: 24px;

      > .item {
        width: 84px;
        font-size: 14px;
      }

      > .background {
        width: 84px;
        height: 32px;
      }
    }
  }
}
