@import '/src/assets/styles/resources';

.tag-component {
  flex-shrink: 0;
  width: fit-content;
  padding: 6px 16px;
  cursor: pointer;
  background-color: $gray-300;
  border-radius: 100px;

  > .text {
    font-size: 16px;
    font-weight: bold;
  }

  &.-active {
    background-color: $pink-400;

    > .text {
      color: $white;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

@include media-query-sp {
  .tag-component {
    &:hover {
      opacity: 1;
    }
  }
}
