@import '/src/assets/styles/resources';

.dialog-content {
  width: 100%;

  > .header {
    display: flex;

    > .icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      cursor: pointer;
      fill: $black;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;

      > .item {
        position: relative;

        > .icon {
          position: absolute;
          top: -4px;
          right: -4px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14px;
          height: 14px;
          color: $white;
          border-radius: 100px;
          fill: $red;
        }
      }

      > .icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
        fill: transparent;
        stroke: $black;
      }
    }

    > .input {
      display: flex;
      gap: 8px;
      align-items: flex-end;

      > .submit {
        width: 72px;
      }
    }

    > .action {
      display: flex;
      gap: 12px;
      justify-content: center;
    }
  }

  > .footer {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
  }
}

@include media-query-sp {
  .dialog-content {
    > .header {
      margin-bottom: 24px;

      > .icon {
        margin-left: 0;
        fill: $black;
        stroke: $black;
      }
    }
  }
}
