@import '/src/assets/styles/resources';

.dialog-content {
  > .header {
    display: flex;

    > .title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: bold;
    }

    > .icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      cursor: pointer;
      fill: $black;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;

    > .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;

      > .button {
        position: relative;
        flex-shrink: 0;
        padding: 4px 8px;
        font-size: 14px;
        color: $black;
        cursor: pointer;
        background-color: $gray;
        border-radius: 12px;
      }

      > .button.-selected {
        color: white;
        background-color: $purple;
      }

      > .button.-edit {
        color: $black;
        background-color: $gray;

        > .remove {
          position: absolute;
          top: -4px;
          right: -4px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14px;
          height: 14px;
          color: $white;
          background-color: red;
          border-radius: 100px;
        }
      }

      > .icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
        fill: transparent;
        stroke: $black;
      }
    }

    > .action {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin-top: 24px;
      font-size: 14px;

      > .submit {
        padding: 4px 12px;
        color: $white;
        background-color: $black;
        border-radius: 12px;
      }
    }

    > .caption {
      margin-top: 32px;
      font-size: 16px;
      font-weight: bold;
    }

    > .form {
      display: flex;
      gap: 12px;
      margin-top: 12px;

      > .input {
        width: 100%;
        height: 32px;
        padding: 12px;
        background-color: #eaeaea;
        border: 1px solid $black;
        border-radius: 24px;
      }

      > .action {
        flex-shrink: 0;
        padding: 4px 12px;
        color: white;
        cursor: pointer;
        background-color: $black;
        border-radius: 24px;
      }
    }

    > .submit {
      flex-shrink: 0;
      width: 50%;
      padding: 12px;
      margin: 64px auto;
      color: white;
      cursor: pointer;
      background-color: $black;
      border-radius: 12px;
    }
  }

  &.-disabled::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

.notice-panel {
  position: fixed;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  padding: 12px;
  background-color: $white;
  border-radius: 12px;

  > .text {
    height: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: $black;
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
  }

  > .action {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: fit-content;
    margin-top: 16px;
    font-size: 14px;

    > .submit {
      padding: 4px 12px;
      color: $white;
      background-color: $black;
      border-radius: 12px;
    }
  }
}
