@import '/src/assets/styles/resources';

.dialog-content {
  height: 100%;

  > .header {
    position: sticky;
    top: 0;
    display: flex;
    height: 48px;
    background-color: $white;

    > .title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: bold;
    }

    > .icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      cursor: pointer;
      fill: $black;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    > .action {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin-top: 24px;
      font-size: 14px;

      > .submit {
        padding: 4px 12px;
        color: $white;
        background-color: $black;
        border-radius: 12px;
      }
    }

    > .form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > .twin {
        display: flex;
        gap: 24px;
      }
    }
  }

  &.-disabled::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

.member-field {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > .member {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.notice-panel {
  position: fixed;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  padding: 12px;
  background-color: $white;
  border-radius: 12px;

  > .text {
    height: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: $black;
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
  }

  > .action {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: fit-content;
    margin-top: 16px;
    font-size: 14px;

    > .submit {
      padding: 4px 12px;
      color: $white;
      background-color: $black;
      border-radius: 12px;
    }
  }
}
