@import '/src/assets/styles/resources';

.dialog-content {
  height: 100%;

  > .body {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    > .action {
      display: flex;
      gap: 12px;
      justify-content: center;
      width: 160px;
      margin: 0 auto;
      margin-top: 32px;
      font-size: 14px;

      > .submit {
        padding: 4px 12px;
        color: $white;
        background-color: $black;
        border-radius: 12px;
      }
    }

    > .form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > .twin {
        display: flex;
        gap: 24px;
      }
    }
  }

  &.-disabled::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

.member-field {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > .member {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;

    > .submit {
      width: 72px;
    }
  }

  > .list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
