@import '/src/assets/styles/resources';

.dialog-content {
  > .header {
    display: flex;

    > .title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: bold;
    }

    > .icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      cursor: pointer;
      fill: $black;
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > .price {
      display: flex;
      gap: 8px;
      align-items: flex-end;

      > .unit {
        flex-shrink: 0;
        padding-bottom: 8px;
        font-weight: bold;
      }
    }

    > .members {
      display: flex;
      flex-direction: column;
      gap: 12px;

      > .caption {
        font-size: 16px;
        font-weight: bold;
      }

      > .tag {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }

  &.-disabled::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    content: '';
    background-color: rgb(0 0 0 / 50%);
  }
}

.notice-panel {
  position: fixed;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  padding: 12px;
  background-color: $white;
  border-radius: 12px;

  > .text {
    height: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: $black;
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
  }

  > .action {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: fit-content;
    margin-top: 16px;
    font-size: 14px;

    > .submit {
      padding: 4px 12px;
      color: $white;
      background-color: $black;
      border-radius: 12px;
    }
  }
}
