@import '/src/assets/styles/resources';

.select-component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  > .caption {
    font-size: 16px;
    font-weight: bold;
  }

  > .select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 36px;
    font-size: $normal-text;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $gray-300;
  }

  > .icon {
    position: absolute;
    right: 8px;
    bottom: 10px;
    display: inline;
    width: 16px;
    height: 16px;
    pointer-events: none;
    fill: $black;
    transform: rotate(180deg);
  }
}
