@import '/src/assets/styles/resources';

.page-component {
  display: flex;
  width: 200%;
  transition: all 0.3s;
}

.container-component {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.item-panel {
  width: 50%;
  height: 100%;
  padding: 20px;

  // overflow-y: auto;

  > .tags {
    display: flex;
    gap: 12px;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
    overflow-x: scroll;
  }

  > .content {
    > .notice {
      width: fit-content;
      margin: 24px auto;
      color: $gray-400;
    }
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  padding: 16px;
  cursor: pointer;
  background-color: $white;
  border-radius: 100px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  fill: transparent;
  stroke: $black;

  &:active {
    background-color: $gray;
  }
}

@include media-query-sp {
  .add-button {
    right: 24px;
    bottom: 24px;
  }
}
