$green-400: #83dbd6;
$pink-400: #fb7575;
$pink-500: #de6161;
$purple-400: #745ff2;
$blue-gray-400: #728ab7;
$blue-gray-500: #596e95;
$blue-gray-600: #425273;
$gray-300: #dde3ed;
$gray-400: #808b9f;
$gray-500: #5b6577;
$gray-600: #39404e;
$gray-700: #2c2d30;

//  asdf
$white: #f0f0f3;
$black: $blue-gray-600;
$blue: #728ab7;
$red: #fb7575;
$gray: #cacaca;
$dark-gray: $gray-700;
